.info {
  width: 100%;
  align-items: center;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h2 {
  font-size: 50px;
  color: #e9d35b;
  height: 50px;
  margin-bottom: 40px;
}

.about .describe {
  width: 40%;
  margin: 15px;
  font-size: 30px;
}

.describe svg {
  font-size: 60px;
  margin: 15px;
  margin-top: 55px;
  margin-bottom: 45px;
  color: white;
}

.describe svg:hover {
  color: #e9d35b;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.link-curriculo {
  margin-top: 42px;
  size: 50px;
}

.link-whatsapp {
  margin-top: 42px;
  margin-left: 15px;
  size: 50px;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#experience {
  position: relative;
}

.title {
  font-size: 45px;
  text-align: center;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-containers {
  gap: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
