.skills-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin-top: 15px;
}

.tech-subtitle {
  color: rgb(85, 85, 85);
  font-weight: 800;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.tech-icons {
  font-size: 4.5em !important;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
  flex-direction: row;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 5rem;
}

article p {
  font-size: 15px;
  margin-left: 50px;
}
