.navbar {
  background: rgb(30, 30, 30);
  height: 80px;
  width: 1300px;
  margin: 0 auto;
  padding: 16px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbarTitle {
  font-size: 24px;
  font-weight: 700;
}

.navbarMenuItem {
  margin: 16px;
  cursor: pointer;
}

.navbarMenuItem:hover {
  color: yellow;
  padding-bottom: 6px;
  border-bottom: 3px solid yellow;
}

.navbarMenuButton {
  background-color: white;
  font-weight: 300;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  padding: 0 20px;
}

.navbarContactImg {
  object-fit: cover;
  height: 25px;
  margin: 10px;
}
