.navbar {
  width: 100%;
  height: 100px;
  background: #6c6e72;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar a {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  font-weight: 600;
}

.navbar a:hover {
  color: #020202;
}
