.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 40px;
  color: #3e497a;
  font-size: 35px;
}

.project img {
  margin: 40px;
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

.project p {
  font-size: 40px;
  color: #3e497a;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
}

.project svg:hover {
  color: #0a0a0a;
}

.social_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.social_links a {
  margin-left: 35px;
  align-items: center;
}
