* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 0.8rem;
  }
}
